# Use this file as template.
# Copy it and rename it `fungiforme.ini`

[DISCORD]
Token = <BOT TOken>
GuildId = <ID of the server>
Channel = 0000000099999999
CommandPrefix = fungiforme!

[FUNGIFORME]
# If defined, only this reaction will be calculated to sum the points
# ValidEmoji = 🍄
MinimumGifReactions = 2
# Free list of points to assign to users based on GIF ranking.
# Fungiform keep them dinamically
PointsForPosition1 = 1
PointsForPosition2 = 0.3
# Free list of points to assign to users based on original message ranking.
# Fungiform keep them dinamically
PointsForOriginalMessagePosition1 = 0.2
MedalPosition1 = 🥇
MedalPosition2 = 🥈
MedalPosition3 = 🥉

[DATE]
DatetimeFormat = %%Y-%%m-%%d %%H:%%M:%%S%%z
DateFormat = %%Y-%%m-%%d
HourStart = 14:00:00
HourEnd = 15:00:00
TimeZone = +0200
TimezoneHoursDelay = 2
# List of valid days for the matches.
# Days are expressed in the iso format:
#  - Monday = 1
#  - Tuesday = 2
#  - Wednesday = 3
#  - Thursday = 4
#  - Friday = 5
#  - Saturday = 6
#  - Sunday = 7
# Default values are from Monday to Friday
ValidDays = 1,2,3,4,5

[LOGGING]
level = info
format = %%(asctime)s %%(process)d %%(levelname)s ? %%(name)s: %%(message)s
# if specified, a log file is used.
filepath = logs/fungiforme.log
# determines log rotation policy. possible values are: size, time
# If omitted but 'filepath' is specified, log file is not rotated.
# Omit this to handle log rotation with system tools like 'newsyslog' and 'logrotate'
logRotate = time
# If 'logRotate' is set to 'size', specify the max file width (in bytes) aftr that 
# log file must be rotated
maxBytes = 100000000
# max number of rotated log files
backupCount = 10
# If 'logRotate' is set to 'time', specify when a file must be rotated. 
# See https://docs.python.org/3.7/library/logging.handlers.html#timedrotatingfilehandler for possible values
when = D
# If 'logRotate' is set to 'time', specify rotation interval. 
interval = 1

[EXTENSIONS]
# comma separated python modules expressed in dot notation
# modules placed under: commands, event_listeners, tasks directories are
# loaded automatically. The root directory for auto loaded modules
# must be the same of the bot
modules=<comma_separated_python_modules>
