# Use this file as template.
# Copy it and rename it `fungiforme.ini`

[DISCORD]
Token = Test of Token
Channel = 0000000099999999
CommandPrefix = fungiforme!

[FUNGIFORME]
# If defined, only this reaction will be calculated to sum the points
# ValidEmoji = 🍄
MinimumGifReactions = 2
# Free list of points to assign to users based on GIF ranking.
# Fungiform keep them dinamically
PointsForPosition1 = 1
PointsForPosition2 = 0.3
# Free list of points to assign to users based on original message ranking.
# Fungiform keep them dinamically
PointsForOriginalMessagePosition1 = 0.2

[DATE]
DatetimeFormat = %%Y-%%m-%%d %%H:%%M:%%S
DateFormat = %%Y-%%m-%%d
HourStart = 14:00:00
HourEnd = 15:00:00
TimezoneHoursDelay = 2
